:root {
  --todo-content-max-height: 383px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
}
.App h1 {
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin: 4px 0;
  min-height: 70px;
  flex-wrap: wrap;
  border-radius: 0px 4px 4px 0px;
  background-color: #fff;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.22, 0.91);
}

.todoIsCompleted {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e1e1e1;
  min-height: 64px;
  flex-wrap: wrap;
  border-radius: 0px 4px 4px 0px;
  background-color: #fff;
  filter: grayscale(1);
  margin: 5px 10px;
  opacity: 0.7;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.22, 0.91);
}

.hide {
  display: none !important;
  margin-right: 8px;
  min-width: 20px;
}

.todo:hover span:not(.periorityTodo) {
  background-color: #f6f6f6;
  display: inline-block !important;
}

.todo:hover span.dateTodo {
  display: none !important;
}

.todo:hover {
  background-color: #f6f6f6;
}

.dateTodo {
  font-size: 14px;
  margin-right: 18px;
  color: #929292;
}

.menuDateTime {
  display: flex;
  flex-direction: column;
}

.periorityTodo {
  display: block;
  position: inherit;
  margin-top: -55px;
  margin-left: -19px;
  padding: 3px;
  line-height: 10px;
  background-color: #3377ff;
  color: #fff;
  font-size: 12px;
  border-radius: 0 0 0 8px;
}

.todoContent {
  height: auto;
  width: auto;
  min-width: -webkit-fill-available;
  margin: 16px 10px 10px 54px;
  padding: 10px;
  border-left: 4px groove #cfcfcf;
  background-color: #fef9c3;
  border-radius: 0px 5px 5px 0px;
  max-height: var(--todo-content-max-height);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  white-space: pre;
  line-height: 1.65rem;
}

.todoText {
  display: flex;
  width: 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.todoTextMain {
  flex: 1 0 100%;
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.todoText:hover .todoTextMain {
  transition: 1.3s;
  overflow: inherit;
  margin-left: -100%;
  text-overflow: inherit;
  transition-timing-function: linear;
}

.todoText:hover .todoTextWrapper {
  overflow: visible;
  margin-left: 100%;
  transition: 1.3s;
  transition-timing-function: linear;
}
.todoTextWrapper {
  text-overflow: inherit;
  overflow: hidden;
  flex: 1 0 100%;
  display: flex;
}

.todoTitle {
  flex-grow: 1;
  width: 0;
  height: 19px;
  overflow: hidden;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

.inputData {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  outline: none;
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-right: 5px;
}

.searchInput {
  margin-right: 0px;
  border-radius: 20px;
  padding: 0 10px;
  margin-right: 0;
  /* background-image: url("/images/search.png"); */
  padding-left: 30px;
}

.datePickerStyle {
  border: 2px solid #ccc;
  font-size: 14px;
  width: 120px !important;
}

.datePickerStyle:focus {
  border: 2px solid #009688;
  overflow: hidden;
}

.prioritySelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
}

.inputData:focus {
  border: 2px solid #009688;
  overflow: hidden;
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputBtn,
.searchBar {
  display: flex;
  justify-content: flex-end;
}

.searchBar {
  margin-right: 0;
  margin-left: 10px;
  width: 220px;
}

.inputBtn {
  flex-grow: 1;
}

.btn {
  color: #009688;
  background-color: #fff;
  border: 1px solid #009688;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 40px;
  line-height: 0;
  height: 40px;
}

.btnAddTags {
  width: 100%;
  z-index: 1001;
}

.remove {
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
  margin-left: 10px;
}

.addTodo {
  color: #fff;
  background-color: #009688;
  margin-right: 5px;
}

header {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  height: 50px;
}

header span:not(.wrapperNav) {
  margin-right: 10px;
  width: auto;
  font-size: 16px;
  height: 30px;
  background-color: #009688;
  color: #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  font-weight: 600;
}

.copyRight {
  color: #ccc;
  font-size: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.taskList {
  max-height: 607px;
  overflow: auto;
  width: inherit;
  overflow-x: hidden;
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 5px 10px 10px 20px;
}

.titleTodo {
  color: #009688;
  font-size: 16px;
  margin-right: 5px;
}

.todoIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
  font-size: 20px;
}

.todoIcons span {
  display: flex;
  margin-left: 8px;
  cursor: pointer;
  align-items: flex-end;
}

.skeletonStyle {
  height: 15px;
  border-radius: 0px;
}

.navbarData {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.logoTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: auto;
  height: auto;
  margin-bottom: 5px;
}

.wrapperNav {
  flex-grow: 1;
  display: inherit;
}

.dateStyle {
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
}

.sortStyle {
  color: #009688;
  background-color: #ffffff;
  font-size: 14px;
  padding: 1px 4px;
  border-radius: 2px;
  margin-left: 5px;
}

.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 16px;
  color: #009688;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all 1s cubic-bezier(0.18, 0.89, 0.22, 1.01);
  z-index: 9999;
}

.sortWrapperSticky {
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 2px rgb(0 0 0 / 15%);
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  margin-right: -10px;
  margin-left: -21px;
  padding: 10px 20px 10px 30px;
  top: -6px;
}

.advStyle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: none;
  background-color: rgb(245, 245, 245);
  padding: 10px 15px;
  margin: 0px -15px;
}

.showNote {
  border-bottom: 1px dotted #009688;
  margin: 0 5px;
  cursor: pointer;
}

.datePriority {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.react-datepicker-wrapper {
  width: auto !important;
  margin-left: 10px;
}

.tagsInput {
  flex-grow: 1;
  margin-right: 5px;
}

.btnAddTag {
  width: auto;
  height: 38px;
  color: #ffffff;
  background-color: #009688;
}

.noteMessage {
  border: 2px solid #ccc;
  resize: vertical;
  border-radius: 4px;
  margin-top: 4px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  min-height: 50px;
  max-height: 150px;
}

.noteMessage:focus {
  border: 2px solid #009688;
  overflow: hidden;
}

.tagsWrapper {
  margin: 10px 0;
}

.tagsBtnWrapper {
  display: flex;
  margin-top: 5px;
}

.react-datepicker__today-button {
  background: #009688 !important;
  color: #fff !important;
}

.react-datepicker__header {
  background-color: #009688 !important;
}

.react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  margin: unset !important;
  text-align: center !important;
  background-color: #009688 !important;
  color: #fff !important;
}

.react-datepicker__input-time-container
  .react-datepicker-time__input-container
  .react-datepicker-time__input
  input[type="time"] {
  -moz-appearance: textfield;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 3px 0;
  padding: 0 2px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #fff !important;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker-popper {
  z-index: 1002 !important;
}

label {
  font-weight: 600;
  color: #bbb;
}

/* scrollBar style */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009688;
}

/* placeholder Color */
::-webkit-input-placeholder {
  color: #bbb;
}
:-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #bbb;
}
::-ms-input-placeholder {
  color: #bbb;
}

::placeholder {
  color: #bbb;
}

/* ----------------------------------------------------------- */

::-moz-selection {
  background: #7aede3;
}
::selection {
  background: #7aede3;
}
